<div class="wrapper">
    <h6>Upload File</h6>

    <hr/>

    <div class="input-row">
        <form class="file-upload-form" [formGroup]="form">
            <mat-form-field appearance="outline" class="small-form-field">
                <mat-label>Blob storage folder</mat-label>
                <input matInput formControlName="folderName" placeholder="Ex. import, stored...">
            </mat-form-field>
        </form>

        <app-file-upload-input (fileSelected)="onFileSelected($event)"></app-file-upload-input>
    </div>

    <hr/>
    
    <section class="file-info">
        File details:
        <ul>
            <li>Name: {{file?.name ?? "No Data"}}</li>
            <li>Type: {{file?.type ?? "No Data"}}</li>
            <li>Size: {{file?.size ?? "No Data"}} bytes</li>
        </ul>
    </section>

    <hr/>

    <app-manager-button icon="upload" (btnClick)="onUpload()"
        [disabled]="DisableDialogButtons || !file">
        Submit
    </app-manager-button>

    <app-manager-button icon="close" (btnClick)="cancel()"
        [disabled]="DisableDialogButtons">
        Cancel
    </app-manager-button>
    
    @if(uploading) {
        <hr/>

        <app-loading-spinner-dialog-content>
            Uploading file...
        </app-loading-spinner-dialog-content>
    }
</div>