<div class="mat-elevation-z8 m25">
    <mat-toolbar class="secondary manager-toolbar">
        <h1 class="mr10">Logs</h1>

        <app-manager-button icon="back" (btnClick)="pageBack()"
            [disabled]="DisableManagerButtons || !CanPageBack">
            Previous 100 Rows
        </app-manager-button>

        <app-manager-button icon="next" (btnClick)="pageNext()"
            [disabled]="DisableManagerButtons || !HasMorePages">
            Next 100 Rows
        </app-manager-button>
    </mat-toolbar>
    
    <mat-divider></mat-divider>

    <ag-grid-angular
        #appInsightsGrid

        [loading]="loading"

        class="ag-theme-quartz ag-axerp" 

        [rowData]="data"
        [columnDefs]="colDefs"

        [pagination]="true"
        [paginationPageSize]="_activePageSize"
        [paginationPageSizeSelector]="[5, 10, 15, 20, 25, 50, 100]"
        [paginationAutoPageSize]="false"
        
        [rowSelection]="'multiple'"
        [rowMultiSelectWithClick]="true"
        [suppressRowClickSelection]="false"
        (rowSelected)="onRowSelected($event)"
        
        (paginationChanged)="onPaginationChanged($event)"
        (gridReady)="onGridReady($event)" />
</div>