@use '@angular/material' as mat;

/* Core Data Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

$theme: mat.define-theme();

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

@mixin theme($theme) {
  /*
    Variable overwrite
  */

  // --mdc-filled-button-container-color: #7d00fa;
  .fab-primary {
    --mdc-fab-small-container-color: #7d00fa;
    --mat-icon-color: white;
  }
  .fab-danger {
    --mdc-fab-small-container-color: #fa0000;
    --mat-icon-color: white;
  }

  /*
    Beépített komponensek
  */
  app-navbar {
    color: mat.get-theme-color($theme, primary);
  }

  mat-sidenav {
    border-radius: 0px;
  }
  mat-sidenav {
    background: mat.get-theme-color($theme, primary-container);
  }
  
  mat-toolbar {
    background: mat.get-theme-color($theme, primary-container);
  }
  mat-toolbar.secondary {
    background: white; // #b89adb;
  }

  button.error:enabled {
    background: mat.get-theme-color($theme, error);
    color: white;
  }

  /*
    HTML komponensek
  */
  tr.selected-row {
    background: mat.get-theme-color($theme, primary-container);
  }
  
  /*
    Snackbars
  */
  .snackbar-info {
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: rgb(211, 208, 255);
  }

  .snackbar-warning {
    --mdc-snackbar-container-color: rgba(255, 255, 0, 0.637);
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: black;
  }

  .snackbar-error {
    --mdc-snackbar-container-color: red;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: rgb(211, 208, 255);
  }

  .small-form-field {
    max-height: 60px;
    max-width: 200px;
  }

  /*
    Responsivity
  */

  /*
    MIN WIDTH 1412 PX
  */
  @media (min-width: 1412px) {
    .function-minifab-btn {
      display: none;
    }

    .filter-form-field {
      min-width: 500px !important;

      max-height: 56px;
      
      flex-direction: row !important;
      flex-wrap: wrap;
      
      align-items: center;
    }
  }

  /*
    MAX WIDTH 1412 PX
  */
  @media (max-width: 1412px) {
    .function-minifab-btn {
      display: default;
    }

    .function-normal-btn {
      display: none;
    }
    .function-btn-text {
      display: none;
    }

    .filter-form-field::placeholder {
      display: none;
    }

    .filter-form-field {
      min-width: 250px !important;

      max-height: 56px;
      
      flex-direction: row !important;
      flex-wrap: wrap;
      
      align-items: center;

      .filter-form-desc {
        display: none;
      }
    }
  }

  /*
    MAX WIDTH 600 PX
  */
  @media (max-width: 600px) {
    .manager-toolbar {
      flex-direction: column;
      min-height: 200px;
      padding-top: 25px;
      row-gap: 10px;
    }
  }
}

:root {
  @include mat.all-component-themes($theme);
  @include theme($theme);
}

html {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
  height: 100%;
}

/*
  General
*/

.m25 {
  margin: 25px !important;
}

.mr10 {
  margin-right: 10px !important;
}

/*
  Misc
*/

.manager-toolbar {
  min-height: 100px;
}

.center-spinner {
  margin: auto;
}

.input-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 15px;
    align-content: center;
}

/*
  Tables
*/

.scroll-table {
  display: block;
  overflow-x: scroll;
}

.ag-axerp {
  display: inline-table;

  width: 100%;
  height: 100%;
  
  min-height: 700px;
  min-width: 500px;
}

.paginator-label {
  font-size: 16px; 
}

