<div class="mat-elevation-z8 m25">
    <mat-toolbar class="secondary manager-toolbar">
        <h1 class="mr10">Gas Transactions</h1>
        
        <button mat-flat-button class="mr10" (click)="ImportGasTransactions()">
            <mat-icon>add</mat-icon>Import From Google Sheets
        </button>
        
        <form class="example-form">
            <mat-form-field appearance="outline" class="filter-form-field">
                <mat-label>Search all columns (for specific column eg. DeliveryID = 5)</mat-label>
                <input matInput [formControl]="filter" placeholder="Filter">
                <mat-icon (click)="clearFilter()" matSuffix>delete</mat-icon>
            </mat-form-field>
        </form>
    </mat-toolbar>
    
    <mat-divider></mat-divider>

    @if (loading) {
        <mat-spinner class="spinner"></mat-spinner>
    }

    <table class="scroll-table mat-elevation-z8" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)" tabindex="0">
        <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        @for (col of gridModel.Columns; track $index) {
            @switch (col.ColumnType) {
                @case ("string") {
                    <ng-container [matColumnDef]="col.ColKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [sortActionDescription]="col.SortTooltip"> {{col.Title}} </th>
                        <td [style.text-align]="col.TextAlign" (click)="selection.toggle(element)" mat-cell *matCellDef="let element"> {{element[col.ColKey]}} </td>
                    </ng-container>
                }
                @case ("date") {
                    <ng-container [matColumnDef]="col.ColKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [sortActionDescription]="col.SortTooltip"> {{col.Title}} </th>
                        <td [style.text-align]="col.TextAlign" (click)="selection.toggle(element)" mat-cell *matCellDef="let element"> {{element[col.ColKey] | date: 'd-MM-yyyy'}} </td>
                    </ng-container>
                }
                @case ("number") {
                    <ng-container [matColumnDef]="col.ColKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [sortActionDescription]="col.SortTooltip"> {{col.Title}} </th>
                        <td [style.text-align]="col.TextAlign" (click)="selection.toggle(element)" mat-cell *matCellDef="let element"> {{element[col.ColKey] | number: '1.2-2'}} </td>
                    </ng-container>
                }
                @case ("boolean") {
                    <ng-container [matColumnDef]="col.ColKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [sortActionDescription]="col.SortTooltip"> {{col.Title}} </th>
                        <td [style.text-align]="col.TextAlign" (click)="selection.toggle(element)" mat-cell *matCellDef="let element"> {{element[col.ColKey]  ? '✓' : '✗'}} </td>
                    </ng-container>
                }
            }
        }

        <tr mat-header-row *matHeaderRowDef="gridModel.DisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: gridModel.DisplayedColumns;" [class.selected-row]="selection.isSelected(row)"></tr>
    </table>

    <mat-paginator [length]="_totalCount$ | async" [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]" (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>