<div class="mat-elevation-z8 m25">
    <mat-toolbar class="secondary manager-toolbar">
        <h1 class="mr10">Gas Transactions</h1>
        
        <button mat-mini-fab class="mr10 function-minifab-btn fab-primary" (click)="ImportGasTransactions()">
            <mat-icon>description</mat-icon>
        </button>
        <button mat-flat-button class="mr10 function-normal-btn" (click)="ImportGasTransactions()">
            <mat-icon>description</mat-icon>
            <span class="function-btn-text">Import From Google Sheets</span>
        </button>

        <button mat-mini-fab class="mr10 function-minifab-btn fab-primary" (click)="ProcessBlobFiles()">
            <mat-icon>dynamic_form</mat-icon>
        </button>
        <button mat-flat-button class="mr10 function-normal-btn" (click)="ProcessBlobFiles()">
            <mat-icon>dynamic_form</mat-icon>
            <span class="function-btn-text">Process Blob Files</span>
        </button>
    </mat-toolbar>
    
    <mat-divider></mat-divider>

    @if (loading) {
        <mat-spinner class="spinner"></mat-spinner>
    }

    <ag-grid-angular
        #transactionsGrid

        class="ag-theme-quartz ag-axerp" 

        [rowData]="data"
        [columnDefs]="colDefs"

        [pagination]="true"
        [paginationPageSize]="_activePageSize"
        [paginationPageSizeSelector]="[5, 10, 15, 20, 25, 50, 100]"
        [paginationAutoPageSize]="false"
        
        [rowSelection]="'multiple'"
        [rowMultiSelectWithClick]="true"
        [suppressRowClickSelection]="false"
        
        (paginationChanged)="onPaginationChanged($event)"
        (gridReady)="onGridReady($event)" />
</div>